<% @pizzas.each do |pizza| %>
  <p>Name: <%= pizza.pretty_name() %></p>
  <p>Order: <%= pizza.quantity %> x <%= pizza.topping %></p>
  <p><a href="/pizzas/<%= pizza.id %>">Show Order</a></p>
  <hr />
<% end %>
